<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <!-- from https://getbootstrap.com/docs/4.2/getting-started/introduction/ and probably for Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>

    <title>Employee Information</title>
    <!--@{...} : Link (URL) expressions [https://www.thymeleaf.org/doc/articles/standarddialect5minutes.html]: -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 align="center">
                <span th:if="${employeeEditing} == true">Update</span>
                <span th:unless="${employeeEditing} == true">Create</span> employee's information:
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--
               In Thymeleaf the equivalent of
               JSP's ${pageContext.request.contextPath}/edit.html
               would be @{/edit.html}
               -->
            <!--@{...} : Link (URL) expressions [https://www.thymeleaf.org/doc/articles/standarddialect5minutes.html]: -->
            <!--${...} : Variable expressions [https://www.thymeleaf.org/doc/articles/standarddialect5minutes.html]: -->
            <!--*{...} : Selection expressions [https://www.thymeleaf.org/doc/articles/standarddialect5minutes.html]: -->
            <form th:action="@{''}"
                  th:object="${employeeForm}" method="POST">
                <div class="form-group">
                    <label for="nameInput_1">Employee Name:</label>
                    <input type="text" class="form-control" id="nameInput_1" placeholder="Enter employee's name"
                           th:field="*{employeeName}" />
                    <span th:if="${#fields.hasErrors('employeeName')}" th:errors="*{employeeName}">Blank employeeName!</span>
                </div>
                <br/>
                <div class="form-group">
                    <label for="emailInput_1">Employee Email:</label>
                    <input type="email" class="form-control" id="emailInput_1" th:field="*{employeeEmail}"
                           aria-describedby="emailHelp" placeholder="Enter employee's email"
                           required />
                </div>
                <br/>
                <div class="form-group">
                    <label for="loginInput_1">Employee Login:</label>
                    <input type="text" id="loginInput_1"
                           placeholder="Enter employee's login"
                           th:field="*{employeeLogin}"
                           class="form-control"
                           th:name="${isErrorMessageAttrPresent}? redBorderClass : normalClass" />
                </div>
                <br/>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" th:value="${employeeEditing} == true ? Edit : Create"/>
                    <!-- <button type="submit" class="btn btn-primary" th:value="${employeeEditing} == true ? Edit : Create"/> -->
                    <input class="btn btn-primary" type="reset" value="Reset" onclick="return confirm('Are you sure you want to reset all fields' values?')"/>
                </div>
            </form>
        </div>
    </div>
    <br/>

    <div class="row">
        <div class="col-md-6">
            <!-- Check if errorMessage is not null and not empty -->
            <!--${...} : Variable expressions [https://www.thymeleaf.org/doc/articles/standarddialect5minutes.html]: errorMessage-->
            <div th:if="${errorMessageAttr}" th:utext="${errorMessageAttr}"
                 style="color:red;font-style:italic;">
                ...
            </div>
        </div>
        <div class="col-md-6">
        </div>
    </div>
</div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
</body>
</html>