<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Employee List</title>
    <!--@{...} : Link (URL) expressions [https://www.thymeleaf.org/doc/articles/standarddialect5minutes.html]: -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Employee List</h1>
<a href="addEmployee">Add Employee</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Employee Name</th>
            <th>Employee Email</th>
        </tr>
        <!--${...} : Variable expressions [https://www.thymeleaf.org/doc/articles/standarddialect5minutes.html]: -->
        <tr th:each ="employee : ${employees}">
            <td th:utext="${employee.employeeName}">...</td>
            <td th:utext="${employee.employeeEmail}">...</td>
        </tr>
    </table>
</div>
</body>
</html>