<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8"/>
    <!-- from https://getbootstrap.com/docs/4.2/getting-started/introduction/ and probably for Bootstrap CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"/>
    <title>User login (sign in) page</title>

    <!-- [N.B.: template for this web-page is taken from Bootstrap examples, from here (:)
          https://getbootstrap.com/docs/4.2/examples/sign-in/]  -->
    <!-- <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors"> -->

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!--@{...} : Link (URL) expressions [https://www.thymeleaf.org/doc/articles/standarddialect5minutes.html]: -->
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/> -->
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}">

</head>
    <body class="text-center">
        <div class="container-fluid">
            <h1>User login page</h1>

            <form class="form-signin"
                  th:action="@{''}"
                  th:object="${userForm}" method="POST">
                <!-- <img class="mb-4" src="/docs/4.2/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72"> -->
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="text" id="userLogin" class="form-control" placeholder="Login" required autofocus
                       th:field="*{userLogin}">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required
                       th:field="*{userEmail}">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
                       th:field="*{userPassword}">
                <!--
                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                -->
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

                <br/>
                <div class="row">
                    <div class="col-md-12">
                        <!-- Check if errorMessage is not null and not empty -->
                        <!--${...} : Variable expressions [https://www.thymeleaf.org/doc/articles/standarddialect5minutes.html]: errorMessage-->
                        <div th:if="${clientServiceId}"
                             th:utext="N.B.: by signing in to the account you authorize a client service with ID ${clientServiceId} to access it!"
                             style="color:blue;font-style:italic;">
                            ...
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!-- Check if errorMessage is not null and not empty -->
                        <!--${...} : Variable expressions [https://www.thymeleaf.org/doc/articles/standarddialect5minutes.html]: errorMessage-->
                        <div th:if="${errorMessageAttr}" th:utext="${errorMessageAttr}"
                             style="color:red;font-style:italic;">
                            ...
                        </div>
                    </div>
                    <div class="col-md-0">
                    </div>
                </div>
                <br/>

                <p class="mt-5 mb-3 text-muted">&copy; 2018-2019 </p>
            </form>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!--
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
                integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
                integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
                crossorigin="anonymous"></script>
        -->
    </body>
</html>