body {
    background-color: #060606;
    color:#00ff00; /*--green; #ADAFAE; --grey*/
}

h1 {
    color:#0000FF;
    text-align: center;
}

h2 {
    color:#FF0000;
    text-align: center;
}

table {
    border-collapse: collapse;
    align="center";
}

table th, table td {
    padding: 5px;
    align="center";
}

input[name="redBorderClass"] {
    border: 2px solid #FF0000;
}

div {
    align="center";
    text-align: center;
}

.tab-1{
	display:inline-block; width:ONE-TAB-WIDTH;
}

